<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body style="padding:10px;" ng-app="app">
<div class="input-group"  ng-controller="AppCtrl">
    <!--<div enter leave>我来了.....</div>-->
    <input type="text"   ng-model="user.username" class="form-control">
    <input type="text"  ng-model="user.id" class="form-control">
    <button class="btn btn-default"  ng-click="adduser()">提交</button>
</div>
</body>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/demo9.js"></script>
</html>